<!DOCTYPE html>

<html>

<head>
    <title>Agenda</title>
    <link rel="icon" href="/img/bee.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Página que emula una agenda de contactos</p>
    </div>

    {{>footer}}

</body>

</html>